*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MS regole */

.ms-btn-radius{
    
    border-radius: 20px;
}

.ms-link-color{
    color: #2e8bd6 !important;
}

.ms-buy-btn{
    background-color: #cd3d0f !important;
}

.ms-login-btn{
    background-color: #363636 !important;
}

.ms-esplora-btn{
    background-color: #d9dadc !important;
    color: #3167e6;
    
}

.ms-bg-ps-plus{
    background-color:#bebcbb;
}

.ms-logo-plus{
    width: 420px;
}

.ms-bg-ps-now{
    background-color: #161c3b;
}


.ms-opacity-50{
    filter: opacity(50%);
}

.ms-opacity:hover{
    filter: none;
}

.ms-border-here:hover{
    display: block;
    border-bottom: 3px solid;
    color: #0d6efd;
}
.ms-border-here{
    color: transparent;
}
/* Regole header */
.top-header{
    background-color: black;
    height: 40px;
}

.title-company{
    width: 100px;
}
header ul li a{
    font-weight: 600;
    color: #000 !important;
    
}
header ul li a:hover{
    color:
    
#056fda!important;
}
.ms-decoration-none{
    text-decoration: none ;
}

.ms-list::before {
    content: "●";
    margin-right: 0.75rem;
    color: blue;
}
  
  
.ms-lens{
      width: 25px;
}
    
   
.ms-dropdown{
        width: 10px;
}

header li:hover .ms-nav-block{
    display: inline-block ;
    
    
}


.ms-d-none{
    display: none;
}

header li:hover .ms-nav-clik{
    display: none;
    
    
}

.ms-animation-vetrina:hover{
    margin-bottom: 20px;
}

.ms-animation-vetrina{
    transition: all 0.5s
} 

/* Regole jumbotron */
.ms-bg{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
    margin-top: 115px;
}
.ms-jumbo{
    background-image: url("img/jumbo-bg.png");
}

/* Locandina pubblicita */

.ms-banner{
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
   
}

.ms-bg-game{
    background-color: #1f1f1f;
}

/* Regole Footer */
.ms-bg-footer{
    background-color:#00439c ;
}

 footer ul li a{
    text-decoration: none ;
    color: #fff !important;
}
li{
    padding: 5px;
}
ul{
    list-style: none;
}
.ms-logo-footer{
    width: 100px;
}
.ms-img-globe-text{
    width: 16px;
}

/* Sezione animazioni */

.contenitore-animazioni{
    height: 20px;
}

.ms-animated-blu:hover .img-animated{
    position: relative;
    animation-name: blu;
    animation-duration: 1s;
    
}

@keyframes blu {
    0%   {
        left:0px;
        bottom:0px;
    }
    
    50%  {
        box-shadow: 5px 10px 10px 10px #0070d1;
        
        left:0px; bottom:50px;
    }
    
    100% { 
        left:0px;
        bottom:0px;
    }
}

.ms-animated-verde:hover .img-animated{
    position: relative;
    animation-name: verde;
    animation-duration: 1s;
    
}

@keyframes verde {
    0%   {
        left:0px;
        bottom:0px;
    }
    
    50%  {
        box-shadow: 5px 10px 10px 10px #1a3739;
        
        left:0px; bottom:50px;
    }
    
    100% { 
        left:0px;
        bottom:0px;
    }
}



  

  
  







